*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.wrapper{
}
.navbar{
    max-width: 1200px;
    margin-left: 100px;
    margin-right: 100px;
}

/*section 1 */

.back-img{
    background-image: url(demo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

.heading{
display: flex;
justify-content: space-between;
padding-top: 25px;
padding-bottom: 25px;
background-color: transparent;
padding-left: 100px;
padding-right: 100px;
max-width: 1200px;
margin: auto;
text-align: left;

}
.heading:hover {
background-color: slategray;
width: 100%;
margin-left: -25px;

}
.right-heading{
    display: flex;
    justify-content: space-between;
}

.left-heading{
    display: flex;
    justify-content: space-between;

}
.edupress{
font-family: Montserrat Bold;
font-size: 24px;
line-height: 20px;
font-weight: 700px;
color: white;
}
.sub-heading{
    font-family: Lato Regular;
    font-size: 13px;
line-height: 20px;
font-weight: 400px;
color: white;
padding-left: 20px;

}

.join{
display: block;
margin-top: 15px;
margin-right: 20px;
font-family: Montserrat regular;
font-size: 13px;
line-height: 20px;
width: 90px;
height: 36px;
font-weight: 400px;
color: white;
border: 1px solid green;
background-color: green;
padding: 8px 20px
}
.fa-shopping-bag{
    display: block;
    color: white;
    font-size: 13px;
line-height: 20px;
font-weight: 400px;
padding-right: 15px;
padding-top: 25px;
}
.fa-search{
    display: block;
    color: white;
    font-size: 13px;
line-height: 20px;
font-weight: 400px;
padding-right: 15px;
padding-top: 25px;
}
.paragraph{
 text-align: left;
  margin-top: 225px;
  margin-left: 100px;

}
.course{
    font-size: 38px;
    line-height: 49px;
    font-weight: 900px;   
    font-family: Montserrat Bold;
    width: 400px;
    color: white;
}
.course-detail{
    font-size: 15px;
    line-height: 27px;
    font-weight: 400px;   
    font-family: Lato Regular;
    margin-top: 35px;
    width: 550px;
color: white;
}
.view{
    font-size: 13px;
    font-weight: 400px;   
    font-family: Montserrat Regular;
    padding: 16px 32px;
    display: block;
    margin-bottom: 170px;
    border-collapse: 1px solid rgb(168, 45, 45);
    background-color: rgb(168, 45, 45);
    width: 200px;
    text-align: center;
    margin-top: 35px;
    color: white;
}

/*section 2 */

.section2{
    max-width: 1200px;
    margin: auto;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    
}
.multi-courses{
padding-right: 10px;
}
.buy-sell{
    padding-right: 10px;
}
.dashboard{
    padding-right: 10px;
}
.easy-use{
  
}
.pencil{
    width: 40px;
    margin-bottom: 20px;

}
.glob{
    width: 40px;
    padding-bottom: 20px;
  
}
.board{
    width: 40px;
    padding-bottom: 20px;
    
}
.leaf{
    width: 40px;
    padding-bottom: 20px;
   
}
.heading1{
    font-size: 15px;
    font-weight: 700;
    padding-top: 15px;
    line-height: 15px;
    font-family: Montserrat bold;
    font-weight: bold;
    
}
.heading2{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: Lato Regular;
    width: 240px;
}

/*section 3 */

.section3{
    display: flex;
    justify-content: space-around;
    background-color: rgb(216, 209, 209);
    max-width: 1200px;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    
}
.section3-text{
    font-family: Montserrat Regular;
    font-size: 21px;
    line-height: 23px;
    font-weight: 400px;
    text-transform: uppercase;
    width: 500px;
}
.mcbook{
    width: 500px;
    margin-top: 60px;
    height: 530px;
}
.circle{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400px;
    font-family: Lato Regular;
    
}
.italic{
    font-style: italic;
    font-family: Droid Serif Italic;
    font-weight: 300px;
    font-size: 14px;
    line-height: 25px;
}
.sec3-p{
font-family: Lato Regular;
font-size: 14px;
line-height: 24px;
font-weight: 400px;
}
.arrow{
display: flex;
justify-content: center;
border-collapse: 1px solid rgb(238, 67, 15);
background-color: rgb(233, 76, 29);
width: 300px;
padding: 15px 30px;
margin-bottom: 60px;
}
.all{
font-size: 13px;
font-weight: 400px;
font-family: Montserrat Regular;
text-align: center;
color: white;
margin-right: 20px;
}
.fa-long-arrow-right{
color: white;
padding-top: 20px;
}
.fa-circle-o{
    color: rgb(172, 66, 66);
}
.left-side{
    padding-top: 50px;
    padding-left: 100px;
}

/*section 4 */

.section4{
max-width: 1200px;
margin: auto;
padding-left: 100px;
padding-right: 100px;
padding-top: 60px;
}
.template{
font-size: 21px;
font-family: Montserrat Regular;
font-weight: 400px;
line-height: 23px;
text-align: center;
}
.edu-template{
font-family: Droid Serif Italic;
font-size: 14px;
font-weight: 300px;
line-height: 25px;
text-align: center;
padding-left: 250px;
padding-right: 250px;
font-style: italic;
}
.checked{
    color: rgb(245, 248, 44);
}
.videos{
    display: flex;
    justify-content: space-between;
 
}
.video1{
display: flex;
justify-content: space-between;
}
.video-text{
font-size: 15px;
line-height: 15px;
font-weight: 700px;
font-family: Montserrat Bold;
}
.video-b{
margin-left: 20px;
margin-right: 20px;
}

.arrow1{
    display: flex;
    justify-content: center;
    border-collapse: 1px solid rgb(238, 67, 15);
    background-color: rgb(233, 76, 29);
    width: 300px;
    padding: 15px 30px;
    margin-bottom: 60px;
    text-align: center;
    margin-left: 350px;
    }
    .price{
        font-size: 12;
        line-height: 28px;
        font-weight: 400px;
        font-family: Montserrat Regular;
        color: #e74c3c;
        border: 1px solid gray;
        padding: 0px 10px;
        height: 27px;
        width: 64px;
        text-align: center;
        margin-top: 15px;
      
    }

    /*section 5 */

    .section5{
        
        background-color: rgb(216, 209, 209); 
        max-width: 1200px;
        margin: auto;
        padding-left: 100px;
        padding-right: 100px;
       
    }
    .part1{
        display: flex;
        justify-content: space-between;
    }
    .part2{
        display: flex;
        justify-content: space-between;
    }
    .amanda{
        display: flex;
        justify-content: space-between;
     
        
    }
    .bob{
        display: flex;
        justify-content: space-between;
      
       
    }
    .jenny{
        display: flex;
        justify-content: space-between;
        
    }
    .darvin{
        display: flex;
        justify-content: space-between;
        
    }
    .section5-text{
margin-bottom: 100px;
padding-top: 50px;
text-align: center;
font-size: 21px;
line-height: 23px;
font-weight: 400p;
font-family: Montserrat Regular;
    }
    .testi{
        
        font-size: 14px;
        line-height: 24px;
        font-weight: 400px;
        font-family: Lato Regular;
        width: 350px;
    }
    .martin{
        
        font-size: 15px;
        line-height: 15px;
        font-weight: 400px;
        font-family: Montserrat Regular;

    }
    .web{
        font-family: Droid Serif Italic;
        font-size: 12px;
        font-weight: 400px;
        line-height: 21px;
        font-style: italic;
    }
    .img-size{
        max-width: 150px;
        margin: 10px 20px 20px 0;
        border-radius: 50%;
        margin: 10px 20px 20px 0;
        
    }
    .section-5{
       
       padding-bottom: 90px;
    }
    
  /*section 6 */

  .section6{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 60px;
}
.ipad{
    width: 480px;
    margin-left: -200px;
   
}
.iphone{
    width: 250px;
    margin-left: -150px;
    margin-bottom: -150px;
 
}
.icones{
    display: flex;
    justify-content: space-between;
    
}

.icone-text{
font-family: Montserrat Bold;
font-size: 15px;
font-weight: 700px;
line-height: 15px;
padding-bottom: 45px;
}
.icone-text1{
font-family: Lato Regular;
font-size: 14px;
line-height: 24px;
font-weight: 400px;
padding-bottom: 35px;
}
.fa-mobile-phone{
    color: #e74c3c;
    line-height: 24px;
    font-weight: 400px;
    padding-bottom: 15px;
}
.fa-gear{
    color: #e74c3c;
    line-height: 24px;
    font-weight: 400px;
    padding-bottom: 15px;
}
.fa-code{
    color: #e74c3c;
    line-height: 24px;
    font-weight: 400px;
    padding-bottom: 15px;
}
.fa-envelope{
    color: #e74c3c;
    line-height: 24px;
    font-weight: 400px;
    padding-bottom: 15px;
}
.fa-bullhorn{
    color: #e74c3c;
    height: 50px;
    line-height: 24px;
    font-weight: 400px;
    padding-bottom: 15px;
}
.fa-shield{
    color: #e74c3c;
    line-height: 24px;
    font-weight: 400px;
    padding-bottom: 15px;
}
.width{
    width: 315px;
    padding-left: 50px;
}
.width1{
    width: 295px;
    padding-left: 60px;
}

/*section 7 */

.section7{
    background-color: rgb(216, 209, 209);
    max-width: 1200px;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
}
.section7-text{
    line-height: 23px;
    font-family: Montserrat Regular;
    font-size: 21px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 80px;
    text-transform: uppercase;
}
.signup{
    display: flex;
    justify-content: space-around;
  
    padding-bottom: 80px;
    
}
.name{
display: flex;
justify-content: space-evenly;
border: 1px;
background-color: white;
width: 230px;
padding-bottom: 05px;


}
.email{
    display: flex;
    justify-content: space-evenly;
    border: 1px;
    background-color: white;
    width: 230px;
    padding-bottom: 05px;
    
}
.password{
    display: flex;
justify-content: space-evenly;
border: 1px;
background-color: white;
width: 230px;
padding-bottom: 05px;

}
.sign{
border: 1px;
background-color: rgb(182, 12, 12);
width: 230px;
padding-bottom: 05px;
display: flex;
justify-content: center;
text-align: center;
}
.sign:hover{
    background-color: rgb(194, 57, 125);
}
.free{
    font-size: 13px;
    line-height: 24px;
    font-weight: 400px;
    font-family: Lato Regular;
    color: rgb(173, 170, 170);
}
.content{
    font-size: 13px;
    line-height: 24px;
    font-weight: 400px;
    font-family: Lato Regular;
    color: rgb(173, 170, 170);
    margin-left: -100px;
 
}
.fa-user{
padding-top: 25px;
margin-left: -100px;
}
.glyphicon-send{
    padding-top: 25px;
    margin-left: -100px;
}
.fa-key{
    padding-top: 25px;
    margin-left: -100px;
}

/*section 8 */

.section8{
padding-top: 60px;
padding-bottom: 60px;
max-width: 1200px;
margin: auto;
padding-left: 100px;
padding-right: 100px;

}
.section8-sub{
display: flex;
justify-content: space-between;

}
.section8-img1{
width: 300px;
height: 240px;
padding-bottom: 20px;
}
.section8-img2{
    width: 300px;
    height: 240px;
    padding-bottom: 20px;
}
.section8-img3{
    width: 300px;
    height: 240px;
    padding-bottom: 20px;
}
.blog1{
display: flex;
width: 300px;
}
.blog2{
    display: flex;
    width: 300px;
}
.blog3{
    display: flex;
    width: 300px;
}
.fa-clock-o{
size: 12px;
color: red;
padding-right: 05px;
}
.fa-comments-o{
    size: 12px;
    color: red;
    padding-right: 05px;
}
.fa-eye{
    size: 12px;
    color: red;
    padding-right: 05px;
}
.first-heading{
font-family: Montserrat Regular;
font-size: 21px;
line-height: 23px;
font-weight: 400px;
text-align: center;
padding-bottom: 60px;
}
.second-heading{
font-family: Droid Serif Italic;
font-size: 14px;
font-weight: 300;
line-height: 25px;
text-align: center;
margin: 0px 0px 10px;
color:  #555555;
margin-bottom: 50px;
width: 325px;
justify-content: center;
margin-left: 340px;
font-style: italic;
}
.date{
font-family: Lato Regular;
font-size: 12px;
font-weight: 400px;
line-height: 20.5px;
padding-bottom: 20px;
margin-top: -03px;
padding-right: 05px;
color:  #555555;
}
.sub-heading1{
font-family: Montserrat Regular;
font-size: 16px;
font-weight: 400px;
line-height: 16px;
padding-bottom: 20px;
}
.sub-heading2{
font-family: Lato Regular;
font-size: 14px;
font-weight: 400px;
line-height: 24px;
padding-bottom: 20px;
width: 300px;
}
.sub-heading3{
font-family: Montserrat Bold;
font-size: 14px;
font-weight: 700px;
line-height: 24px;
font-weight: bold;
text-decoration: underline;
}

/*section 9 */

.section9{
    background-color: #27293d;
    padding-top: 60px;
    max-width: 1200px;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    
    
}
.sub-section9{
    display: flex;
    justify-content: space-between;
    
    border-bottom: 1px solid rgb(168, 165, 165);
   
}

.text-section9{
    font-family: Montserrat Regular;
    font-size: 12px;
    font-weight: 400px;
    line-height: 12px; 
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}
.text-section9:hover{
    color: #e74c3c;
    text-decoration: underline;
}

.text1-section9{
    font-family: Montserrat Regular;
    font-size: 14px;
    font-weight: 400px;
    line-height: 24px; 
    color: rgba(255, 255, 255, 0.5);
    width: 200px;
    margin-top: 13px;

}
.text3-section9{
    font-family: Montserrat Regular;
    font-size: 13px;
    font-weight: 400px;
    line-height: 19px; 
    color: rgba(255, 255, 255, 0.5);
    border: 1px;
    padding: 05px 10px;
    background-color: red;
    color: white;
    width: 100px;

}
.text2-section9{
background-color: rgba(255, 255, 255, 0.1);
border-color: transparent;
height: 40px;
border-radius: 0;
font-size: 11px;
padding-top: 15px;
padding-left: 15px;
border: 1px;
font-weight: 400px;
font-family: Montserrat Regular;
color: rgba(255, 255, 255, 0.5) ;
width: 200px;
text-align: left;
padding-top: 10px;
}
.fa-twitter{

padding-top: 20px;
padding-right: 05px;
color: rgba(255, 255, 255, 0.5);
}
.fa-facebook{

    padding-top: 16px;
    padding-right: 05px;
    color: rgba(255, 255, 255, 0.5);

}
.fa-google-plus{

    padding-top: 18px;
    padding-right: 05px;
    color: rgba(255, 255, 255, 0.5);
    
}
.fa-pinterest{
    
    padding-top: 18px;
    padding-right: 05px;
    color: rgba(255, 255, 255, 0.5);
}
.fa-dribbble{
    
    padding-top: 15px;
    padding-right: 05px;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 35px;
}
.last{
    display: flex;
    justify-content: space-between;
    
    padding-top: 10px;
}
.fa-angle-up{
    border: 1px solid;
    background-color: gray;
    width: 35px;
    height: 35px;
    justify-content: center;
    padding: 10px 10px;
}
.last-text{
    font-family: Montserrat Thin Regular;
    font-size: 12px;
    font-weight: 400px;
    
    padding-bottom: 55px;
    color: rgba(255, 255, 255, 0.5);
}
 


